
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: -10px;
}

.navbar {

  transition:
    background 0.5s ease,
    backdrop-filter 0.5s ease,
    padding 0.5s ease;

}

.navbarScrolled {

  background:
    rgba(5,10,20,0.55);

  backdrop-filter:
    blur(18px);

  padding:
    22px 42px;

}

.navLinks {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navLink {
  padding: 0;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.60);
  font-size: 15px;
  font-weight: 500;
  font-family: var(--font-family);
  cursor: pointer;
  transition: color 0.3s ease;
  letter-spacing: 1px;
}

.navLink:hover {
  color: var(--color-primary);
}